<h1 class="d-flex justify-content-center mt-3">Add new product</h1>
<div>
  <label class="form-label" for="name">Name</label>
  <p-inputNumber [style]="{ 'width': '200px', 'color': 'blue' }" [(ngModel)]="product.price" inputId="price" mode="currency" currency="BRL"
                 locale="pt-BR"></p-inputNumber>
</div>
<div class="flex-auto">
  <label class="block font-bold mb-2" for="price">Price</label>
  <p-inputNumber [(ngModel)]="product.price" inputId="price" mode="currency" currency="BRL"
                 locale="pt-BR"></p-inputNumber>
</div>
<div class="flex-auto">
  <label class="block font-bold mb-2" for="description">Description</label>
  <p-inputNumber [(ngModel)]="product.price" inputId="price" mode="currency" currency="BRL"
                 locale="pt-BR"></p-inputNumber>
</div>
<div class="flex-auto">
  <label class="block font-bold mb-2" for="image">Image</label>
  <p-inputNumber [(ngModel)]="product.price" inputId="price" mode="currency" currency="BRL"
                 locale="pt-BR"></p-inputNumber>
</div>
