.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
}

.full-width {
  width: 100%;
}

