<div class="container">
  <div class="login">
    <h1 style="text-align: center">Login</h1>
    <form class="full-width" [formGroup]="formLoginService.formLogin">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput [formControlName]="'username'">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControlName]="'password'">
      </mat-form-field>
    </form>
    <div style="margin-top: 20px">
      <p-button [style]="{ 'width': '100%' }" label="Login" [loading]="loading" (click)="login()"
                (onClick)="load()"></p-button>
    </div>
  </div>
</div>
