li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}

.container {
  display: grid;
  grid: auto / 30vw 30vw 30vw;
  justify-content: center;
  grid-gap: 10px;
}

.content-center {
  justify-content: center;
}

.m-bot {
  margin-bottom: 10px;
}

.cursor-move {
  cursor: move;
}

.small-text {
  font-size: small;
}

.margin-top {
  margin-top: -10px;
}

.overflow {
  max-height: 100vh;
  overflow-y: auto;
}
